@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}


:root {
    --bg: #121212;
    --text: #ffffff;
    --accent: #ea5700;
    --input-bg: #1e1e1e;
    --background-gradient: radial-gradient(circle, rgba(17, 48, 47, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --title: #ffffff;
    --shadow: 2px 2px 4px #000;
    --slider: #ffffff;
    --slider-hover: #fadccb;
    --input-field: #b7b7b3;
    --password: #303030;
    --switcher: #252525;
    --switcher-bg: rgba(0, 0, 0, 0.45);
    --switcher-hover: #ffffff;
    --switcher-text: #7b7b7b;
    --switcher-border: rgba(0, 0, 0, 0.6);
    --tiptitle: rgb(231, 215, 181);
    --primary: rgb(26, 43, 41);
}

body.light-mode {
    --bg: #f2e1cf;
    --text: #4c4a4a;
    --accent: #ea5700;
    --input-bg: #f0f0f0;
    --main: #f0f0f0;
    --title: #69655e;
    --shadow: 0 0 0 #000;
    --slider: #505050;
    --slider-hover: #3a3a3a;
    --input-field: #3b3b39;
    --password: #e9e6e1;
    --primary: rgb(245, 225, 199);
    --background-gradient: radial-gradient(circle, rgb(255, 249, 242) 0%, rgb(223, 220, 213) 100%);
    --switcher: #fffdfb;
    --switcher-bg: rgba(255, 245, 238, 0.47);
    --switcher-hover: #ffffff;
    --switcher-text: #616161;
    --switcher-border: rgba(255, 255, 255, 0.6);
    --tiptitle: rgb(62, 54, 116);
}

input[type="text"] {
    background-color: var(--input-bg);
    color: var(--text);
    border: none;
}

body {
    font-family: Urbanist, sans-serif;
    font-weight: 550;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var(--background-gradient);
    color: var(--text);
    transition: background-color 1s ease, color 1s ease;
}

.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    transition: opacity 1s ease;
    pointer-events: none;
    background-size: cover;
    background-position: center;
}

/* Dunkler Hintergrund */
#bg1 {
    background-image: radial-gradient(circle, rgba(17, 48, 47, 1) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 1;
}

/* Heller Hintergrund */
#bg2 {
    background-image: radial-gradient(circle, rgb(254, 228, 200) 0%, rgb(223, 220, 213) 100%);
    opacity: 0;
}

body.light-mode #bg1 {
    opacity: 0;
}

body.light-mode #bg2 {
    opacity: 1;
}

.title,
.output-area,
.slider-container,
#password,
.checkboxes,
.settings-row {
    transition: color 1s ease;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.logo {
    height: 10%;
    margin-top: 20px;
    text-shadow: 3px 3px 5px #000;
}

.main-container {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 850px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.output-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#password {
    flex: 0.9;
    padding: 12px 16px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    background-color: var(--input-field);
    outline: none;
    color: var(--password);
    font-family: 'JetBrains Mono', monospace;
}

.svg-button {
    position: relative;
    width: 54px;
    height: 54px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}

.btn-img.hover {
    opacity: 0;
}

.svg-button:hover .btn-img.hover {
    opacity: 1;
}

.svg-button:hover .btn-img.normal {
    opacity: 0;
}

.svg-button:hover .btn-img {
    transform: scale(1.08);
}

.svg-button:active .btn-img {
    transform: scale(0.95);

}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title);
    margin-bottom: 30px;
    text-align: center;
    text-shadow: var(--shadow);
}

.output-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.slider-container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 1rem;
}

.slider-container input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}

.slider-container input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    background: #dc5c00;
    border-radius: 3px;
}

.slider-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #f08d49;
    margin-top: -7px;
    cursor: pointer;
    transition: transform 0.2s;
}

.slider-container input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Firefox */
.slider-container input[type=range]::-moz-range-track {
    height: 6px;
    background: #f08d49;
    border-radius: 3px;
}

.slider-container input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #f08d49;
    border-radius: 50%;
    cursor: pointer;
}

.settings-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
    width: 100%;
    max-width: 800px;
    color: var(--text);
    font-size: 1rem;
}

.slider-block {
    flex: 1;
    min-width: 200px;
    margin-top: 15px;
}

.slider-block label {
    display: block;
    margin-bottom: 8px;
}

.slider-block input[type=range] {
    width: 100%;
    -webkit-appearance: none;
    background: transparent;
}

.slider-block input[type=range]::-webkit-slider-runnable-track {
    height: 6px;
    background: linear-gradient(90deg,rgba(224, 58, 20, 1) 0%, rgba(222, 167, 4, 1) 21%, rgba(47, 184, 2, 1) 100%);    border-radius: 3px;
}

.slider-block input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: var(--slider);
    border: none;
    border-radius: 50%;
    margin-top: -7px;
    cursor: pointer;
    transition: transform 0.2s;
}

.slider-block input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: var(--slider-hover);
}

.slider-block input[type=range]::-moz-range-track {
    height: 6px;
    background: #f08d49;
    border-radius: 3px;
}

.slider-block input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #f08d49;
    border-radius: 50%;
    cursor: pointer;
}

.checkboxes {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 15px;
    color: var(--text);
    margin-top: 47px;
}

.checkboxes label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.95rem;
}

::selection {
    background: #b54901;
}

.generate-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin-top: 50px;
}

.generate-button .btn-img {
    display: block;
    width: 150px;
    height: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.generate-button .btn-img.hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.generate-button .btn-img.normal {
    position: relative;
    z-index: 2;
}

.generate-button:hover .btn-img.hover {
    opacity: 1;
    filter: drop-shadow(0 6px 8px #dc5a00);
}

.generate-button:hover .btn-img.normal {
    opacity: 0;
}

.generate-button:hover .btn-img {
    transform: scale(1.08);
}

.generate-button:active .btn-img {
    transform: scale(0.95) translateY(5px);
    filter: drop-shadow(0 2px 4px #dc5a00) !important;
    transition: 100ms;
}

.copy-button .btn-img.done {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.copy-button.copied .btn-img.normal,
.copy-button.copied .btn-img.hover {
    display: none;
}

.copy-button.copied .btn-img.done {
    display: block;
}

.strength-indicator {
    width: auto;
    height: 50px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.strength-indicator img {
    width: auto;
    height: 50px;
}

.checkbox-wrapper-15 .cbx {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.checkbox-wrapper-15 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-15 .cbx span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 2px solid #bd5000;
    transition: all 0.2s ease;
}

.checkbox-wrapper-15 .cbx span:first-child svg {
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 4px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
}

.checkbox-wrapper-15 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #FFA500;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
}

.checkbox-wrapper-15 .cbx:hover span:first-child {
    border-color: #ec6202;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
    border-color: #ea5700;
    background: #ea5700;
    animation: check-15 0.6s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes check-15 {
    50% {
        transform: scale(1.2);
    }
}

.checkbox-wrapper-54 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-54 *,
.checkbox-wrapper-54 ::after,
.checkbox-wrapper-54 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
}

/* The slider */
.checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d3c3b3;
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-54 .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
;
    transition: .4s;
}

.checkbox-wrapper-54 input:checked + .slider {
    background-color: #303136;
}

.checkbox-wrapper-54 input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

.theme-toggle-wrapper {
    margin-top: 5px;
}

/* From Uiverse.io by zanina-yassine */
/* Remove this container when use*/
.component-title {
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 30px;
    left: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #888;
    text-align: center;
}

.tab-container {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 2px;

    background-color: var(--switcher-bg);
    border-radius: 50px;

    margin-top: 4rem;
    margin-bottom: 4rem;

    border: 1px solid var(--switcher-border);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
}

.indicator {
    content: "";
    width: 130px;
    height: 28px;
    background: var(--switcher);
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    transition: all 0.2s ease-out;
}

.tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
}

.tab_label {
    width: 130px;
    height: 28px;

    position: relative;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    font-size: 0.75rem;
    opacity: 0.6;

    cursor: pointer;
}

.tab--1:checked ~ .indicator {
    left: 2px;
}

.tab--2:checked ~ .indicator {
    left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
    left: calc(130px * 2 + 2px);
}

.tab-content {
    display: none;
}

.tab--1:checked ~ .tab-content--1,
.tab--2:checked ~ .tab-content--2,
.tab--3:checked ~ .tab-content--3 {
    display: block !important;
}

.tab-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab-container {
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}

.tab-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.indicator {
    width: 130px;
    height: 28px;

    background: var(--switcher);
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);

    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 50px;
    transition: all 0.2s ease-out;
}

.tab-container {
    display: flex;
    position: relative;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: fit-content;
    padding: 2px;

    background-color: var(--switcher-bg);
    border: 1px solid var(--switcher-border);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);

    margin-top: 4rem;
    margin-bottom: 4rem;
}

.tab-content {
    opacity: 0;
    transform: translateX(0);
    transition: none;
    display: none;
}

.tab-content.active {
    display: flex;
    opacity: 1;
    transform: translateX(0); /* <– NEU */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tab-content.slide-in-right {
    transform: translateX(30px);
}

.tab-content.slide-in-left {
    transform: translateX(-30px);
}

.tab-content.pre-slide-right {
    transform: translateX(40px); /* Startposition von rechts */
}

.tab-content.pre-slide-left {
    transform: translateX(-40px); /* Startposition von links */
}

.tab-content {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#inspectInput {
    flex: 1;
    padding: 12px 16px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    background-color: var(--input-field);
    outline: none;
    color: var(--password);
    font-family: 'JetBrains Mono', monospace;
}

#inspectInput::placeholder {
    font-family: 'Urbanist', monospace;
}

#inspectInput:focus {
    box-shadow: inset 0 0 10px 2px rgba(0,0,0,0.7);
}

.advise {
    color: #968f85;
    font-weight: 400;
    text-decoration: underline;
}

.advise:hover {
    font-size: 1.02rem;
    transition: 0.2s;
    cursor: pointer;
    color: var(--input-field);
}

.crack-time-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30vh;
    height: 20vh;
    background: var(--switcher-bg);
    border-radius: 30px;
    border: 1px solid var(--switcher-border);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
    border: 4px solid var(--primary);
    overflow: hidden;
    border-radius: 50%;
    box-shadow:
            -5px -5px 5px rgba(255, 255, 255, 0.1),
            3px 3px 5px rgba(0, 0, 0, 0.2),
            inset -5px -5px 5px rgba(255, 255, 255, 0.2),
            inset 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.loader:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    background: var(--primary);
    border-radius: 50%;
    border: 2px solid var(--primary);
    box-shadow:
            inset -2px -2px 5px var(--primary),
            inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
            -225deg,
            #ffe100 0%,
            #009c27 50%,
            #007797 100%
    );
    filter: blur(20px);
    z-index: -1;
    animation: animate 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-image 0.3s ease;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    width: 80vh;
    height: 66vh;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 40px;
    backdrop-filter: blur(16px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 30px;
    color: var(--text);
    text-align: center;
}

body.light-mode .modal {
    background: rgba(241, 232, 222, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.modal-content h2 {
    font-size: 3rem;
}

.modal-content p {
    font-size: 1.2rem;
}

.modal-icon {
    height: 22vh;
}

.close-button {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 28px;
    cursor: pointer;
    color: var(--text);
    opacity: 0.6;
    transition: transform 220ms ease, opacity 220ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.close-button:hover {
    opacity: 1;
    rotate: 90deg;
    transition: 220ms;
    transform: scale(1.2);
}

.icon-big {
    width: 100%;
    max-width: 120px;
    height: auto;
    shape-rendering: geometricPrecision;
    display: block;
    margin: 0 auto;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--tiptitle);
    font-size: 1rem;
    padding: 2rem;
    text-align: center;
    gap: 1rem;
}

.tips-title {
    font-size: 2.8rem;
}

.tips-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.tips-icon {
    width: auto;
    max-width: 80px;
    height: auto;
    max-height: 80px;
    transition: 225ms ease-in-out;
}

.tips-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.tips-icon:active {
    transform: scale(0.9) translateY(5px);
}

.tips-over-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 1.5rem;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.modal-icon {
    width: 20%;
    height: auto;
}

.modal-content {
    animation: zoomIn 0.25s ease;
    transform-origin: center center;
}

@keyframes zoomIn {
    from {
        transform: scale(0.94);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.close-button .close-img {
    width: 20px;
    height: 20px;
    display: none;
    transition: transform 0.2s ease;
}

.close-button .close-img.normal {
    display: inline-block;
}

.close-button:hover .close-img.normal {
    display: none;
}

.close-button:hover .close-img.hover {
    display: inline-block;
}

.close-button:active {
    transform: scale(0.9);
}

.score-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    text-align: center;
    z-index: 20;
    font-family: 'Urbanist', sans-serif;
}

#scoreValue {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--text);
}

#scoreLabel {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 4px;
}

.flip-number {
    position: relative;
    display: inline-block;
    height: 2.6rem;
    overflow: hidden;
}

.flip-number span {
    display: block;
    animation: flipUp 0.4s ease;
    will-change: transform, opacity;
}

@keyframes flipUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
